<nav class="nav">
  <ul class="sidebar p-0 w-100">
    <li class="sidebar__item">
      <a class="sidebar__link" #submenu>
        <div>
         <i class="fa-solid fa-camera-retro"></i>Productos
        </div>
        <i class="fa-solid fa-caret-down"></i>
      </a>
      <ul class="submenu p-0 w-100">
        <li class="sidebar__item">
          <a class="sidebar__link">
            <div>
              <i class="fa-solid fa-house"></i>Productos Internos
            </div>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link">
            <div>
             <i class="fa-solid fa-blender-phone"></i>Productos Externos
            </div>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link" [routerLink]="['/agora/panel-admin/categoria']">
            <div>
              <i class="fa-solid fa-shop"></i>Categoria
            </div>
          </a>
        </li>
         <li class="sidebar__item">
          <a class="sidebar__link">
            <div>
              <i class="fa-solid fa-bandage"></i>Marca
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="sidebar p-0 w-100">
    <li class="sidebar__item">
      <a class="sidebar__link" #submenu>
        <div>
          <i class="fa-solid fa-camera-retro"></i>Productos
        </div>
        <i class="fa-solid fa-caret-down"></i>
      </a>
      <ul class="submenu p-0 w-100">
        <li class="sidebar__item">
          <a class="sidebar__link">
            <div>
              <i class="fa-solid fa-house"></i>Productos Internos
            </div>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link">
            <div>
             <i class="fa-solid fa-blender-phone"></i>Productos Externos
            </div>
          </a>
        </li>
        <li class="sidebar__item">
          <a class="sidebar__link">
            <div>
              <i class="fa-solid fa-shop"></i>Categoria
            </div>
          </a>
        </li>
         <li class="sidebar__item">
          <a class="sidebar__link">
            <div>
              <i class="fa-solid fa-bandage"></i>Marca
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
